[Unit]
Description=Set default hostname if not configured
DefaultDependencies=no
Before=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=/bin/bash -c '[ ! -s /etc/hostname ]'
ExecStart=/bin/bash -c 'echo miasma > /etc/hostname && hostname miasma'

[Install]
WantedBy=sysinit.target
