input {
    keyboard {
        xkb {}
        numlock
    }

    touchpad {
        tap
        accel-profile "adaptive"
        click-method "clickfinger"
    }

    mouse {
        accel-profile "flat"
    }

    trackpoint {}

    cursor {
        theme "Papirus-Dark"
        size 24
    }
}

clipboard {
    disable-primary
}
